.container {
    width: 45%;
    margin: 30px;
    text-align: center;
}

.paragraphs {
    margin: 20px;
}

.text {
    width: 100%;
    padding: 10px;
}

button {
    margin: 20px;
}

@media only screen and (max-width: 599px) {
    .container {
        width: 80%;
    }
}