.container {
    width: 45%;
    margin: 30px;
    text-align: center;
    background: beige;
}

.paragraphs {
    margin: 20px;
}

.text {
    width: 100%;
    padding: 10px;
}

button {
    margin: 20px;
}

.busy {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.63);
    height: 100%;
    width: 100%;
    z-index: 1000;
}

mat-spinner {
    left: 45vw;
    top: 45vh;
}

mat-horizontal-stepper {
    background: beige;
}

textarea, input {
    background: white;
}

input.search-box {
    height: 30px;
}

@media only screen and (max-width: 599px) {
    .container {
        width: 80vw;
        margin: auto;
        margin-top: 20px;
    }
}